body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Orelega One", cursive;
  background-image: url(./images/Screen\ Shot\ 2021-05-05\ at\ 3.49.55\ PM.png);
  background-size: cover;
  /* background-color: rgb(208, 220, 208); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* //rgb(208, 220, 208); */
